@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: #050814;
  --color-yale-blue: #00356B;
  --color-electric-blue: #0D6BFF;
  --color-signal-cyan: #38E8FF;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


body {
  @apply bg-background text-white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
