@import "tailwindcss";

@theme {
  --color-background: #050814;
  --color-yale-blue: #00356B;
  --color-electric-blue: #0D6BFF;
  --color-signal-cyan: #38E8FF;
}

body {
  @apply bg-background text-white;
}
